body {
font-family: Helvetica, sans-serif;
font-size: 22px;
color: seashell;
background-color: black;}

.header {
 display: flex;
 height: 69px;
 justify-content: space-between;
 align-items: center;
 margin-left: 10px;
 font-family: cursive;
 border-bottom: 1px solid seashell;
 border-width: auto;
 }

.header img {
  
 max-height: 50px;    
} 
 
.navigation {
display: flex;    
}

/* Mission */

.ourmission {
display: flex;
justify-content: center;
align-items: center;
min-height: 500px;    
height: auto;    
background-image: url('..//images/img-mission-background.jpg'); 
background-position: center;
background-size: cover;
overflow: hidden;  
}

.stripe {
  display: flex;
  justify-content: center;
  justify-items: center;  
  position: absolute;
  width: 100%;
  background-color: black;
  }

.content h1,
.content h2 
{
  color: white;  
  justify-content: center;
  justify-items: center; 
  z-index: 1;
  text-align: center;
 }

/* Tea of the month */

 .teamonth {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  width: 100%;
  margin-top: 2em;
  gap: 1em;
}

.photo {
 display: flex;
 flex-direction: column;
 align-items: center;
 }

 .teamonth img {
  display: flex;
  max-width: 300px;
  max-height: 200px;
  height: auto;
  }

  .phtext {
 margin-top: 1em;
  }

/* Locations */

 .locations {
  display: flex;
  margin-top: 2em;
  flex-direction: row;
  justify-content: space-evenly;
  height: 500px;
  background-image: url('..//images/img-locations-background.jpg');
  background-size: cover;
  background-position: center
  }

.local {
display: flex;
flex-direction: column;
justify-content: center;
margin-top: 2em;
background-color: green;
height: 250px;
width: 250px;
}


.local h3{
margin: auto;
}


.local p {
margin: auto;
}



  
    


 




