body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0
}

/* Navigation */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    border-bottom: 2px solid black;
    width: 100%;
}

.header {
    display: flex;
    justify-content: flex-start;
}

.name {
    display: flex;
    margin-left: 40px;
}

.header_links {
    justify-content: flex-end;
    padding: 0px 10px;
}

/* main */
section_one {
    display: grid;
    background-color: gray;
    flex-flow: 1 1 500px;
    flex-wrap: wrap;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
}

.container_one {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    flex-basis: calc (50% - 10px);
    max-width: 100%;
    height: auto;
}

.container_one img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.container_two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    object-fit: contain;
    flex-basis: calc (50% - 10px);
    max-width: 100%;
    height: auto;
}

.container_two h1 {
    text-align: center;
}

.container_two h2 {
    text-align: center;
}

.container_two button {
    align-self: center;
    background-color: blue;
    padding: 10px 20px;
   }

/* section two */
section_two {
    display: grid;
    background-color: white;
    flex-flow: 1 1 500px;
    flex-wrap: wrap;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    height: fit-content;
}

.container_three {
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    flex-basis: calc (50% - 10px);
    max-width: 100%;
    height: auto;
}

.container_three img {
    margin-top: 16px;
    max-width: 100%;
    object-fit: contain;
}

.container_four {
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    flex-basis: calc (50% - 10px);
    max-width: 100%;}
   
.container_four img {
   margin-left: 16px;
   margin-bottom: 16px; 
   max-width: 30%;
   max-height: 30%;
   object-fit: contain;
   height: fit-content;
   }   
    
.container_four p {
    text-align: center;
}    

.content_four
    {flex-grow: 1;}

  /* section three */
  

  .section_three {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    } 

    .sthree {
    box-sizing: border-box;    
    border: 1px solid black; 
    justify-items: center;
    background-color: gray;  
    }


    .section_three img {
 justify-items: center;
  }

.section_three_h1 {
    text-align: center;
    color: brown;
}

/* section four */

 .section_four {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1fr 1fr 1fr);
    grid-template-rows: auto auto;
    } 

<div class="sthree">


  .section_four img {
  display: flex; 
  flex: 0 0; 
  max-width: 33.33%;
  box-sizing: border-box;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
}


.p {
    text-align: center;
    color: brown;
}


  
    

